footer {
    position: relative;
    display: flex;
    background-color: #23272a;
    margin: 1rem 0 0 0;
    padding: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer a:link, footer a:visited, footer a:visited, footer a:link:visited {
    color: #fff;
}

footer p a:link, footer p a:visited, footer p a:visited, footer p a:link:visited {
    color: #ffa500;
    text-decoration: none;
}

footer p {
    color: #fff;
}