/* NOTIFICAÇÃO: ACEITAR NOTIFICAÇÕES */
#aceitar-not {
    display: flex;
    gap: 5rem;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    font-size: 0.8rem;
    animation: animate_notificacao_in 6s;
    z-index: 2;
}

#aceitar-not h3 {
    display: inline;
    margin-left: 0.5rem;
}

#aceitar-not div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#aceitar-not div button {
    font-size: 0.9rem;
    font-weight: 800;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

#aceitar-not div button:first-child {
    background-color: #5f5;
    color: #000;
}

#aceitar-not div button:last-of-type {
    background-color: #f55;
    color: #000;
}


/* LEMBRETE: ACEITAR NOTIFICAÇÕES */
#aviso-not {
    display: flex;
    gap: 5rem;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    font-size: 0.8rem;
    animation: animate_notificacao_in 6s;
    z-index: 2;
}

#aviso-not i{
    color: #f55;
}

#aviso-not h3 {
    display: inline;
    margin-left: 0.5rem;
}

#aviso-not button {
    background-color: transparent;
    padding: 0.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#aviso-not button:first-child {
    padding: 0.3rem 1rem;
    background-color: #303339;
    color: #fff;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

/* ANIMAÇÃO DAS NOTIFICAÇÕES */
@keyframes animate_notificacao_in {
    0% {bottom: -5rem;}
    25% {bottom: 1rem;}
    75% {bottom: 1rem;}
    100% {bottom: 1rem;}
}

@keyframes animate_notificacao_out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


/* RESPONSIVIDADE DAS NOTIFICAÇÕES */
@media only screen and (max-width : 599px) {
    #aceitar-not,
    #aviso-not {
        gap: 2rem;
        left: 0;
    }
}