* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #5865f2;
}

/* FORMULÁRIO DE CRIAÇÃO DE TAREFAS */
.criar-tarefa {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 2rem;
    margin: 2rem 0;
    background-color: #36393f;
    border-radius: 0.4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.criar-tarefa > div {
    margin-bottom: 1.5rem;
}

.criar-tarefa > div:first-child > div{
    display: flex;
    justify-content: space-between;
}

.criar-tarefa label {
    display: block;
    color: #9d9fa2;
    margin-bottom: 0.4rem;
}

#counter-tarefa {
    margin-right: 0.3rem;
    font-size: 1rem;
    color: #c6c8c9;
}

.criar-tarefa input {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border: 1px solid #222428;
    border-radius: 0.2rem;
    color: #202225;
    transition: border 0.2s ease-in-out;
}

.criar-tarefa #tarefa::placeholder,
.criar-tarefa #data-final::placeholder {
    color: #f55;
}

.criar-tarefa input:not(:disabled):hover {
    border: 1px solid #5865f2;
}

.criar-tarefa input:not(:disabled):focus {
    border: 2px solid #5865f2;
}

.criar-tarefa .datas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.criar-tarefa .datas input[name=data-criacao]::-webkit-calendar-picker-indicator {
    display: none;
}

.criar-tarefa .datas input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.criar-tarefa .datas div:last-child input:last-child:hover::-webkit-calendar-picker-indicator {
    background-color: #a79a0d;
    border-radius: 2px;
    cursor: pointer;
}

.criar-tarefa button {
    padding: 0.5rem 1.5rem;
    align-self: center;
    background-color: #5865f2;
    cursor: pointer;
}

.criar-tarefa button:hover {
    background-color: rgb(88, 101, 242, 0.8);
}

.criar-tarefa button i {
    filter: invert(1);
}

/* TAREFA */

.todo-list {
    position: relative;
    display: flex;
    width: 80%;
    gap: 2rem;
    color: #fff;
}

.todo-list h2 {
    margin: 0 0 1rem 0;
    color: #fff;
}

.todo-list > div::-webkit-scrollbar {
    width: 12px;
}

.todo-list > div::-webkit-scrollbar-track {
    background: transparent ;
}

.todo-list > div::-webkit-scrollbar-thumb {
    background-color: #2f3136;
    border-radius: 6px;
}

.todo-list .todo:not(:empty) {
    border-radius: 0.5rem;
    padding: 0.2rem;
    display: grid;
    gap: 1rem;
}

.todo-list #todo:empty::after {
    content: 'Todas as tarefas estão completas! :)';
    font-size: 1rem;
    color: #ddd;
}

.todo-list #completed:empty::after {
    content: 'Nenhuma tarefa completa! :(';
    font-size: 1rem;
    color: #ddd;
}

.todo-list .todo .todo-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}

.todo-list .todo .todo-div:hover {
    border: 1px solid #fff;
}

.todo-list .todo .todo-div h3 {
    margin-bottom: 1rem;
}

.todo-list .todo .todo-div .datas-tarefa {
    margin: auto 0 0.5rem 0;
}

.todo-list .todo .todo-div div p {
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
}
.todo-list .todo .todo-div div hr {
    margin-bottom: 0.4rem;
    width: 50px;
    height: 1px;
    background-color: #fff;
}

.todo-list .buttons button {
    padding: 2px;
    cursor: pointer;
    background-color: transparent;
}

.todo-list .buttons button:last-child {
    margin-left: 0.3rem;
}

.todo-list #todo .buttons .remover i:first-child,
.todo-list #completed .buttons .remover i:first-child {
    color: #f55;
}

.todo-list .todo .buttons .completar:hover i:first-child,
.todo-list .todo .buttons .remover:hover i:first-child {
    filter: drop-shadow(0 0 4px #ffbc40);
}

/* TAREFA A FAZER */

.todo-list h3 {
    word-break: break-all;
}

.todo-list #todo .buttons .completar i:first-child {
    color: #ccc;
}

/* TAREFA COMPLETA */

.todo-list #completed .buttons .completar i:first-child {
    color: #5f5;
}

.todo-list #completed h3 {
    text-decoration: line-through #f55;
}

.todo-list > span {
    width: 1px;
    height: 62vh;
    background-color: #fff;
}

/* NOTIFICAÇÃO: ACEITAR NOTIFICAÇÕES */
#aceitar-not {
    display: flex;
    gap: 5rem;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    font-size: 0.8rem;
    animation: animate_notificacao_in 6s;
}

#aceitar-not h3 {
    display: inline;
    margin-left: 0.5rem;
}

#aceitar-not div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#aceitar-not div button {
    font-size: 0.9rem;
    font-weight: 800;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

#aceitar-not div button:first-child {
    background-color: #5f5;
    color: #000;
}

#aceitar-not div button:last-of-type {
    background-color: #f55;
    color: #000;
}

/* LEMBRETE: ACEITAR NOTIFICAÇÕES */
#aviso-not {
    display: flex;
    gap: 5rem;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    font-size: 0.8rem;
    animation: animate_notificacao_in 6s;
}

#aviso-not i{
    color: #f55;
}

#aviso-not h3 {
    display: inline;
    margin-left: 0.5rem;
}

#aviso-not button {
    background-color: transparent;
    padding: 0.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#aviso-not button:first-child {
    padding: 0.3rem 1rem;
    background-color: #303339;
    color: #fff;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
}







@keyframes animate_notificacao_in {
    0% {bottom: -5rem;}
    25% {bottom: 1rem;}
    75% {bottom: 1rem;}
    100% {bottom: 1rem;}
}

@keyframes animate_notificacao_out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}